<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <meta name='description' content='Text Summarization Web Application'>
    <link rel='stylesheet' href="static/home.css" }>
    <title>Text Summarizer</title>
</head>

<body>
    <h1 class='heading' id='heading'>TEXT SUMMARIZER</h1>
    <p id='para'>The process of producing summaries from the huge sets of information while maintaining the actual context<br> of information is called Text Summarization. This application will scrap text from site url entered by the user or by <br> pasting the text. The extracted text will then be summarized. Currently it only works for the url of wikipedia site.</p>
    <button id='button' onclick="window.location.href = 'with_url'"> SUMMARIZE TEXT BY <br>ENTERING URL </button>
    <button id='button' onclick="window.location.href = 'with_text'"> SUMMARIZE TEXT BY <br>PASTING TEXT </button>
</body>
</html>